* {
    font-family: "Zalando Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;

    box-sizing: border-box;

    margin: 0;
    padding: 0;
}
body {
    background-color: #f5f7fb;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 75px 1fr 50px;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
}

.body-login{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 75px 1fr 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
}

header {
    grid-area: header;
    background-color: #575FFF;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftheaderdiv {
    font-size: 15px;
    margin: 10px;
    align-self: end;
    justify-content: start;
    align-items: start;
}

.navbar {
    display: flex;
    gap: 40px;
}

.navitem {
    font-size: 15px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightheaderdiv{
    font-size: 15px;
    display:grid;
    align-self: end;
    justify-content: end;
    grid-template-columns: 150px;
}

.login-aside {
    background-color: white;
    border-right: 1px solid #e5e7eb;
    padding: 30px 20px;
}

main {
    grid-area: main;
}

.main-dashboard{
    grid-area: main;
    display:grid;
    align-items: center;
    justify-items: center;
}

footer {
    width: 100%;
    grid-area: footer;
    background-color: #57B3FF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: white;
}


.login-form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 500px;
    padding: 40px;

    color:rgb(0, 0, 0);
    background-color: #ffffff;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

.login-form h3{
    font-size:30px;
    font-weight:600;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

label {
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.login-input {
    height: 50px;
    width: 100%;
    padding: 0 10px;

    background-color: #f8f8f8;
    border: 2px solid rgb(240, 240, 240);
}

.login-submit {
    height: 50px;
    width: 100%;

    background-color: white;
    color: #575FFF;

    border: none;
    border-radius: 6px;

    font-weight: 600;
    cursor: pointer;
}

/*DASHBOARD*/

aside {
    background-color: white;
    border-right: 1px solid #e5e7eb;
    padding: 30px 20px;
}

aside h3{
    font-weight: 600;
}

.dashboard-main {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.dashboard-header h2 {
    font-size: 22px;
    font-weight: 600;
}

.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.card {
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card h3 {
    font-size: 15px;
    font-weight: 500;
    color: #666;
}

.card p {
    font-size: 22px;
    font-weight: 600;
}